rect {
  background: "#a7a7a752" !important;
  backdrop-filter: blur(10px) !important;
  border-radius: 40px !important;
  padding: "15px" !important;
  box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.2),
    -8px -8px 18px 0 rgba(255, 255, 255, 0.55) !important;
}
